@model PhotographyAddicted.Services.Models.Images.ImagePreviewViewModel
@using Microsoft.AspNetCore.Http
@using System.Security.Claims

@{
    ViewData["Title"] = "ViewPictureDetails";
}

<h2>ViewPictureDetails</h2>

<p>
    @Model.ImageCategory
</p>
<p>
    @Model.Title
</p>
@*<p>
    <img src="data:image;base64,@System.Convert.ToBase64String(Model.Picture)" style="max-height: 635px; height: 100%; width: auto;" />
</p>*@
<div class="modal-body" id="modal-body" style="cursor: zoom-out; width: 722px; height: 635px;">
    <img class="img-responsive" style="max-height:100%; position: relative;
    top: 50%; transform: translateY(-50%);" src="data:image;base64,@System.Convert.ToBase64String(Model.Picture)" >
</div>
<div>
    <h4>ImagePreviewViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
       
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageCategory)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Scores)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Scores)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhotographyAddictedUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhotographyAddictedUserId)
        </dd>
    </dl>
</div>
<div>
    @if (Model.PhotographyAddictedUserId == this.User.FindFirstValue(ClaimTypes.NameIdentifier))
    {        
        @*@Html.ActionLink("Edit", "EditPictureInfo", "Image", new { Id = Model.Id })*@
        <a class="btn btn-default btn-sm" asp-controller="Image" asp-action="EditPictureInfo" asp-route-id="@Model.Id">Edit</a>
        <a class="btn btn-default btn-sm" asp-controller="Image" asp-action="DeleteImage" asp-route-id="@Model.Id">Delete</a>

    }
    <a asp-action="Index">Back to List</a>
</div>
