@model PhotographyAddicted.Services.Models.Images.PreviewUsersImages
@using Microsoft.AspNetCore.Http
@using System.Security.Claims

@{
    ViewData["Title"] = "ViewUsersPictures";
}

<h2>ViewUsersPictures</h2>

<div>
    <h4>PreviewUsersImages</h4>
    <hr />
    <dl class="dl-horizontal"></dl>
</div>
<div>

</div>
<div>
    @foreach (var item in Model.PreviewImages)
    {

        if (item.Picture != null)
        {
            <img src="data:image;base64,@System.Convert.ToBase64String(item.Picture)" style="max-height: 130px; height: 70%; width: auto;" />
        }


        <a class="btn btn-default btn-sm" asp-controller="Image" asp-action="ViewPictureDetails" asp-route-id="@item.Id ">View </a>
        @item.Scores
        @item.Title
        @item.Id
        if (item.PhotographyAddictedUserId == this.User.FindFirstValue(ClaimTypes.NameIdentifier))
        {
            @*@Html.ActionLink("Edit", "EditPictureInfo", "Image", new { Id = Model.Id })*@
            <a class="btn btn-default btn-sm" asp-controller="Image" asp-action="EditPictureInfo" asp-route-id="@item.Id">Edit</a>
            <a class="btn btn-default btn-sm" asp-controller="Image" asp-action="DeleteImage" asp-route-id="@item.Id">Delete</a>
        }

    }

</div>
<a asp-action="Index">Back to List</a>