@model PhotographyAddicted.Services.Models.Conversations.PreviewConversationViewModel
@using Microsoft.AspNetCore.Http
@using System.Security.Claims
@using PhotographyAddicted.Services.DataServices.CommonService
@using PhotographyAddicted.Data.Models
@using PhotographyAddicted.Services.DataServices.ImageService

@inject IImageService imageService
@inject ICommonService commonService


@{
    ViewData["Title"] = "PreviewConversation";
}

<div class="row">
    <div class="col-md-6 offset-md-2">
        <div class="jumbotron " style="min-height: 1250px; padding-top:15px; background-color:azure">
            <br>
            <h3><a style="color:#0c5460;">Messages:</a></h3>
            <hr class="my-4">
            <div class="row">
                <div class="col-md-12">

                    @foreach (var comment in Model.Messages)
                    {
                        <div class="alert alert-info" role="alert">

                            <div style="padding-bottom:8px; color:black">
                                <a style="word-wrap: break-word;">
                                    @comment.Text
                                </a>
                            </div>

                            <hr style="margin-bottom:2px; margin-top:1px">
                            <div class="row" style=" color: black;">
                                <div class="col-md-6">
                                    <p style=" font-size:x-small; font-weight: bold; margin-bottom:2px; margin-top:2px">
                                        <a class="nav-styleLittle" asp-controller="Users" asp-action="PreviewUser" asp-route-id="@comment.PhotographyAddictedUser.Id"
                                           data-toggle="tooltip" data-placement="bottom" title="Go to user profile">
                                            @comment.PhotographyAddictedUser.UserName
                                        </a>
                                        - @commonService.CreationDate(comment.CreationDate)
                                    </p>
                                </div>
                            </div>
                        </div>
                    }

                    <div>
                        @if (Model.RecepientPhotographyAddictedUser.Id == this.User.FindFirstValue(ClaimTypes.NameIdentifier))
                        {
                            <a class="btn btn-info btn-sm" asp-controller="Messages" asp-action="AddMessage" asp-route-recepientId="@Model.SenderPhotographyAddictedUser.Id">Reply</a>
                        }
                        else
                        {
                            <a class="btn btn-info btn-sm" asp-controller="Messages" asp-action="AddMessage" asp-route-recepientId="@Model.RecepientPhotographyAddictedUser.Id">Reply</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="jumbotron " style="min-height: 1250px;  padding-top:15px; background-color:azure">
            <div style="padding-top:7px;">
                @foreach (var comment in imageService.PreviewImages(null).PreviewImages.OrderByDescending(x => x.UploadedDate).Take(40).OrderBy(x => Guid.NewGuid()).Take(5))
                {
                    <hr />
                    @if (comment.Picture != null)
                    {

                        <a asp-controller="Images" asp-action="PreviewImage" asp-route-id="@comment.Id" data-toggle="tooltip" data-placement="bottom" title="Go to the photo">
                            <img src="data:image;base64,@System.Convert.ToBase64String(comment.Picture)" style="padding-bottom:3px; padding-top:3px; max-width: 240px; width: 100%; max-height: 240px; height: 100%; " />
                        </a>
                    }
                }
            </div>
        </div>
    </div>
</div>
