@using PhotographyAddicted.Services.DataServices
@using PhotographyAddicted.Services.DataServices.ImageService
@using PhotographyAddicted.Services.DataServices.CommonService
@using Microsoft.AspNetCore.Http
@using System.Security.Claims

@inject INewService  newService
@inject IThemeService themeService
@inject IImageService imageService
@inject ICommonService commonService

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-5 offset-md-2">
        <div class="jumbotron " style="min-height: 930px; padding-top:15px; background-color:azure">
            <div style="padding-top: 5px;">
                <a asp-controller="Images" asp-action="PreviewImage" asp-route-id="@imageService.PreviewImageOfTheDay().Id" data-toggle="tooltip" data-placement="bottom" title="See the photo of the day!">
                    <img src="data:image;base64,@System.Convert.ToBase64String(imageService.PreviewImageOfTheDay().Picture) "
                         style="max-width: 525px; max-height: 350px; display: block;  margin-left: auto; margin-right: auto; " />               
                </a>
            </div>
            <div style="padding-top: 5px;">
                <a class="zle">Author:&nbsp</a><a class="news-style" style="float:left; font-weight: bold;" asp-controller="Users" asp-action="PreviewUser" asp-route-id="@imageService.PreviewImageOfTheDay().PhotographyAddictedUser.Id" data-toggle="tooltip" data-placement="bottom" title="Go to the user profile">  @imageService.PreviewImageOfTheDay().PhotographyAddictedUser.UserName</a>
                <a class="news-style" style="float:right; font-weight: bold;" asp-controller="Images" asp-action="PreviewImage" asp-route-id="@imageService.PreviewImageOfTheDay().Id" data-toggle="tooltip" data-placement="bottom" title="See the photo of the day!">     @imageService.PreviewImageOfTheDay().Title</a>
                <a class="zle" style="float:right">Title:&nbsp</a>
            </div>
            <hr class="my-4">
            <div class="row">
                @foreach (var theme in themeService.PreviewThemes(null).PreviewThemes.OrderByDescending(x => x.ThemeComments.LastOrDefault().CreationDate).Take(4))
                {
                    <div class="col-md-12">
                        <div class="alert alert-info" role="alert">
                            <div>
                                <a class="d-inline-block text-truncate themes"  asp-controller="Themes" asp-action="PreviewTheme" asp-route-id="@theme.Id" data-toggle="tooltip" data-placement="bottom" title="Go to the theme">

                                    @if ((int)theme.ThemeCategory == 0)
                                    {
                                        <i class="far fa-paper-plane ">&nbsp</i>
                                    }
                                    else if ((int)theme.ThemeCategory == 1)
                                    {
                                        <i class="fas fa-palette">&nbsp</i>
                                    }
                                    else if ((int)theme.ThemeCategory == 2)
                                    {
                                        <i class="fas fa-desktop">&nbsp</i>
                                    }
                                    else if ((int)theme.ThemeCategory == 3)
                                    {
                                        <i class="fas fa-child">&nbsp</i>
                                    }
                                    else if ((int)theme.ThemeCategory == 4)
                                    {
                                        <i class="fas fa-camera-retro">&nbsp</i>
                                    }

                                    @theme.Title
                                </a>
                                @if (theme.PhotographyAddictedUserId == this.User.FindFirstValue(ClaimTypes.NameIdentifier) || this.User.IsInRole("Moderator"))
                                {
                                    <a class="btn btn-sm sButton" asp-controller="Themes" asp-action="DeleteTheme" asp-route-Id="@theme.Id" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fas fa-trash-alt"></i></a>
                                    <a class="btn btn-sm sButton" asp-controller="Themes" asp-action="UpdateTheme" asp-route-id="@theme.Id" data-toggle="tooltip" data-placement="bottom" title="Update"><i class="fas fa-wrench"></i> </a>
                                }
                            </div>

                            <hr style="margin-bottom:2px; margin-top:1px">
                            <div class="row" style=" color: black;">
                                <div class="col-md-6">
                                    <p style="  font-size:x-small; font-weight: bold; margin-bottom:2px; margin-top:2px"><a class="nav-styleLittle" data-toggle="tooltip" data-placement="bottom" title="Go to the user profile" asp-controller="Users" asp-action="PreviewUser" asp-route-id="@imageService.PreviewImageOfTheDay().PhotographyAddictedUser.Id">@theme.PhotographyAddictedUser.UserName</a> - @commonService.CreationDate(theme.CreationDate)</p>
                                </div>
                                <div class="col-md-6">
                                    <p style=" font-size:x-small; font-weight: bold; float:right; margin-bottom:2px; margin-top:2px">Comments: @theme.ThemeComments.Count()</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <p style="margin-top:4px">
                <hr class="my-4">
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="jumbotron " style="min-height: 930px; padding-top:10px; background-color:azure">
            <h3>
                <a class="news-style" asp-controller="News" asp-action="PreviewNews" data-toggle="tooltip" data-placement="bottom" title="Preview all news">Preview all News</a>
            </h3>
            @foreach (var comment in newService.PreviewNews(null).PreviewNews.OrderByDescending(x => x.CreationDate).Take(5))
            {
                <div style="font-size:x-small;  padding-top:13px; padding-bottom:13px;">
                    @commonService.CreationDate(comment.CreationDate)
                    <svg height="1" width="218">
                        <line x1="0" y1="0" x2="1000" y2="0" style="stroke:rgb(216, 216, 216);stroke-width:1" />
                    </svg>
                </div>
                <div class="row">
                    <a class="col-md-5" asp-controller="News" asp-action="PreviewNew" asp-route-id="@comment.Id" data-toggle="tooltip" data-placement="bottom" title="Go to the new">
                        <img src="data:image;base64,@System.Convert.ToBase64String(comment.NewImage )" style="height: 110px; max-width: 110px;" />
                    </a>
                    <div class="col-md-7">
                        <a class="news-style-padding demo-1" style=" font-size: 85%; font-weight: bold;" asp-controller="News" asp-action="PreviewNew" asp-route-id="@comment.Id" data-toggle="tooltip" data-placement="bottom" title="Go to the new">@comment.Title</a>
                        <a style="font-size: 70%; font-weight: bold; font: bold Georgia;">@comment.ComentsCount</a>
                        <i class="far fa-comment-alt" style=" font-size: 90%;" data-toggle="tooltip" data-placement="bottom" title="New comments"></i>
                    </div>
                </div>
            }
            <p style="margin-top:41px">
                <hr class="my-4">
            </p>
        </div>
    </div>
</div>
