@model PhotographyAddicted.Services.Models.Users.PreviewUserViewModel
@using Microsoft.AspNetCore.Http
@using System.Security.Claims
@using PhotographyAddicted.Services.DataServices.CommonService
@inject ICommonService commonService

@{
    ViewData["Title"] = "PreviewUser";
}

<h2>ViewUserProfile</h2>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        /* Create three equal columns that floats next to each other */
        .column {
            float: left;
            width: 25%;
        }

        .columnRight {
            float: left;
            width: 75%;
            padding: 10px;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>
<body>
    <hr />
    <div class="row">
        <div class="column">
            <div>

                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.UserName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.UserName)
                    </dd>
                    @*<dt>
                            @Html.DisplayNameFor(model => model.SelfDescription)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.SelfDescription)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Technique)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Technique)
                        </dd>*@
                    <dt>
                        @Html.DisplayNameFor(model => model.ProfilePicture)
                    </dt>
                    <dd>
                        @if (Model.ProfilePicture != null)
                        {
                            <img src="data:image;base64, @System.Convert.ToBase64String(Model.ProfilePicture)" style="max-height: 130px; height: 70%; width: auto;" />
                        }
                        else
                        {
                            @Html.DisplayFor(model => model.ProfilePicture)
                        }
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CreationDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CreationDate)
                    </dd>
                    @*<dt>
                            @Html.DisplayNameFor(model => model.Blocked)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Blocked)
                        </dd>*@
                    <dt>
                        @Html.DisplayNameFor(model => model.LastLogin)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.LastLogin)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ImageCount)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ImageCount)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.AverageScore)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AverageScore)
                    </dd>
                    @*<dt>
                            @Html.DisplayNameFor(model => model.IsBanned)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.IsBanned)
                        </dd>*@
                    <dt>
                        @Html.DisplayNameFor(model => model.Rang)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Rang)
                    </dd>
                    <dt>
                        @Model.UserName -
                    </dt>
                    <dd>
                        <a class="btn btn-default btn-sm" asp-controller="Images" asp-action="PreviewUserImages" asp-route-id="@Model.Id">Pictures </a>
                        @if (Model.Id != this.User.FindFirstValue(ClaimTypes.NameIdentifier))
                        {
                            <div>
                                | <a class="btn btn-default btn-sm" asp-controller="Messages" asp-action="AddMessage" asp-route-recepientId="@Model.Id">Send message. </a>
                            </div>
                        }
                    </dd>
                </dl>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            @if (Model.Id == this.User.FindFirstValue(ClaimTypes.NameIdentifier))
            {
                <div>
                    <a asp-controller="Images" asp-action="AddImage">Add image !!!</a> |
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Settings</a> |
                    <a asp-controller="Conversations" asp-action="PreviewUserConversations" asp-route-userId="@Model.Id">Messages.</a> |
                    <a asp-controller="Home" asp-action="Index">Back to Home</a>
                </div>
            }
        </div>
        <div class="columnRight">
            <div>
                @if (Model != null)
                {
                    foreach (var item in Model.Images.OrderByDescending(p => p.Scores).Take(8))
                    {
                        if (item.Picture != null)
                        {
                            <img src="data:image;base64,@System.Convert.ToBase64String(item.Picture)" style="max-height: 130px; height: 70%; width: auto;" />
                        }
                    }
                }
            </div>
        </div>
    </div>
    <br>
    <hr />
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.SelfDescription)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SelfDescription)
            </dd>
            <br>
            <dt>
                @Html.DisplayNameFor(model => model.Technique)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Technique)
            </dd>
        </dl>
    </div>
    @if (this.User.IsInRole("Admin") && !await commonService.IsUserAdmin(Model.Id))
    {
        <a asp-controller="Common" asp-action="ModerationRights" asp-route-userId="@Model.Id">ModerationRights | </a>
    }

    @if (this.User.IsInRole("Admin") && !await commonService.IsUserAdmin(Model.Id))
    {
        if (!Model.IsBanned)
        {
            <a asp-controller="Common" asp-action="BanUser" asp-route-userId="@Model.Id" asp-route-isBanned="false" asp-route-name="@Model.UserName">BanUser</a>
        }
        else
        {
            <a asp-controller="Common" asp-action="BanUser" asp-route-userId="@Model.Id" asp-route-isBanned="true" asp-route-name="@Model.UserName">UnBanUser</a>
        }
    }
</body>

