@model PhotographyAddicted.Services.Models.Users.PreviewUsersViewModel
@using PhotographyAddicted.Services.DataServices
@using PhotographyAddicted.Services.DataServices.ImageService

@inject IImageService imageService
@inject IUserService  userService

@{
    ViewData["Title"] = "PreviewUsers";
}

<div class="row">
    <div class="col-md-6 offset-md-2">
        <div class="jumbotron " style="min-height: 1200px; padding-top:15px; background-color:azure">
            <br>
            <div class="row">
                <div class="col-md-9">
                    <div class="search-container">
                        <form asp-controller="Users" asp-action="PreviewUsersSearch">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <button class="btn btn-info" type="submit" data-toggle="tooltip" data-placement="bottom" title="Search">Search</button>
                                    <a class="btn btn-info" asp-controller="Users" asp-action="PreviewUsers" data-toggle="tooltip" data-placement="bottom" title="Clear">
                                        <i class="fas fa-eraser"></i>
                                    </a>
                                </div>
                                <input placeholder="Search user.." value="@Model.input" type="text" name="input" class="form-control" aria-describedby="basic-addon1">
                            </div>
                        </form>
                    </div>
                </div>                
            </div>
            @if (Model.PreviewUsers.FirstOrDefault() == null)
            {
                <hr class="my-4">
                <div class="alert alert-info" role="alert">
                    There is no user with nickname
                    <a style="color:red">"@Model.input"</a>
                </div>
            }
            else
            {
                <hr class="my-4">
                <div>
                    @{
                        var users = Model.PreviewUsers.OrderBy(x=>x.UserName).Take(16).ToList();
                        for (int i = 0; i <  users.Count(); i += 4)
                        {
                            <div class="card-deck">
                                <div class="card" style="width: 18rem; border-color:transparent;border:3px;">

                                    @if (users[i].ProfilePicture != null)
                                    {
                                        <img class="card-img-top" src="data:image;base64,@System.Convert.ToBase64String(users[i].ProfilePicture)" alt="Card image cap">
                                    }
                                    <div class="card-body" style="background-color:azure">
                                        <p class="card-text">
                                            <a class="nav-styleLittle" asp-controller="Users" asp-action="PreviewUser" asp-route-id="@users[i].Id">@users[i].UserName</a>
                                            <a style="float:right">@users[i].AverageScore</a>
                                        </p>
                                    </div>
                                </div>
                                @if (i + 1 < Model.PreviewUsers.Count())
                                {
                                    <div class="card" style="width: 18rem;">
                                        @if (users[i + 1].ProfilePicture != null)
                                        {
                                            <img class="card-img-top" src="data:image;base64,@System.Convert.ToBase64String(users[i + 1].ProfilePicture)" alt="Card image cap">
                                        }
                                        <div class="card-body">
                                            <p class="card-text">
                                                <a class="nav-styleLittle" asp-controller="Users" asp-action="PreviewUser" asp-route-id="@users[i + 1].Id">@users[i + 1].UserName</a>
                                                <a style="float:right">@users[i + 1].AverageScore</a>
                                            </p>
                                        </div>
                                    </div>

                                }
                                else
                                {
                                    <div class="card" style="background-color:azure; border-color:azure; width: 18rem;">

                                        <div class="card-body">
                                            <p class="card-text">

                                            </p>
                                        </div>
                                    </div>
                                }
                                @if (i + 2 < Model.PreviewUsers.Count())
                                {
                                    <div class="card" style="width: 18rem;">
                                        @if (users[i + 2].ProfilePicture != null)
                                        {
                                            <img class="card-img-top" src="data:image;base64,@System.Convert.ToBase64String(users[i + 2].ProfilePicture)" alt="Card image cap">
                                        }
                                        <div class="card-body">
                                            <p class="card-text">
                                                <a class="nav-styleLittle" asp-controller="Users" asp-action="PreviewUser" asp-route-id="@users[i + 2].Id">@users[i + 2].UserName</a>
                                                <a style="float:right">@users[i + 2].AverageScore</a>
                                            </p>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="card" style="background-color:azure; border-color:azure; width: 18rem;">

                                        <div class="card-body">
                                            <p class="card-text">

                                            </p>
                                        </div>
                                    </div>
                                }
                                @if (i + 3 < Model.PreviewUsers.Count())
                                {
                                    <div class="card" style="width: 18rem;">
                                        @if (users[i + 3].ProfilePicture != null)
                                        {
                                            <img class="card-img-top" src="data:image;base64,@System.Convert.ToBase64String(users[i + 3].ProfilePicture)" alt="Card image cap">
                                        }
                                        <div class="card-body">
                                            <p class="card-text">
                                                <a class="nav-styleLittle" asp-controller="Users" asp-action="PreviewUser" asp-route-id="@users[i + 3].Id">@users[i + 3].UserName</a>
                                                <a style="float:right">@users[i + 3].AverageScore</a>
                                            </p>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="card" style="background-color:azure; border-color:azure; width: 18rem;">

                                        <div class="card-body">
                                            <p class="card-text">

                                            </p>
                                        </div>
                                    </div>
                                }
                            </div>
                            <br>
                        }
                    }
                </div>
            }
        </div>
    </div>
    <div class="col-md-2">
        <div class="jumbotron " style="min-height: 1200px;  padding-top:15px; background-color:azure">
            <div style="padding-top:7px;">
                @foreach (var comment in imageService.PreviewImages(null).PreviewImages.OrderByDescending(x => x.UploadedDate).Take(40).OrderBy(x => Guid.NewGuid()).Take(5))
                {
                    <hr />
                    @if (comment.Picture != null)
                    {
                        <a asp-controller="Images" asp-action="PreviewImage" asp-route-id="@comment.Id" data-toggle="tooltip" data-placement="bottom" title="Go to the photo">
                            <img src="data:image;base64,@System.Convert.ToBase64String(comment.Picture)" style="padding-bottom:3px; padding-top:3px; max-width: 240px; width: 100%; max-height: 240px; height: 100%; " />
                        </a>
                    }
                }
            </div>
        </div>
    </div>
</div>
