@model PhotographyAddicted.Services.Models.Users.PreviewUserViewModel
@using Microsoft.AspNetCore.Http
@using System.Security.Claims
@using PhotographyAddicted.Services.DataServices.CommonService
@using PhotographyAddicted.Services.DataServices
@using PhotographyAddicted.Services.DataServices.ImageService
@using PhotographyAddicted.Services.DataServices.MessageService

@inject IMessageService messageService
@inject IImageService imageService
@inject IUserService  userService
@inject ICommonService commonService

@{
    ViewData["Title"] = "PreviewUser";
}

<div class="row">
    <div class="col-md-2 offset-md-2">
        <div class="jumbotron " style="min-height: 1200px;  padding-top:15px; background-color:azure">
            <h5 class="text-truncate" style="color: #138496">@Model.UserName</h5>
            <hr />
            <div>
                @if (Model.ProfilePicture != null)
                {
                    @if (Model.Id == this.User.FindFirstValue(ClaimTypes.NameIdentifier))
                    {
                        <a asp-controller="Users" asp-action="UpdateProfilePicture" asp-route-id="@this.User.FindFirstValue(ClaimTypes.NameIdentifier)" data-toggle="tooltip" data-placement="bottom" title="Change profile picture">
                            <img src="data:image;base64, @System.Convert.ToBase64String(Model.ProfilePicture)" style="border-radius:4px; max-height: 193px; max-width: 155px;" />
                        </a>
                    }
                    else
                    {
                        <img src="data:image;base64, @System.Convert.ToBase64String(Model.ProfilePicture)" style=" max-height: 193px; max-width: 155px;" data-toggle="tooltip" data-placement="bottom" title="Profile picture" />
                    }
                }
                else
                {
                    <a asp-controller="Users" asp-action="UpdateProfilePicture" asp-route-id="@this.User.FindFirstValue(ClaimTypes.NameIdentifier)" data-placement="bottom" title="Add profile picture">
                        <img src="~/images/userNoImage.png" style="max-height: 213px; max-width: 155px;" data-toggle="tooltip" />
                    </a>
                }
            </div>
            <hr />

            <div class="list-group" style="padding:0px 0px;">
                <a class="list-group-item list-group-item-action list-group-item-info " data-toggle="tooltip" data-placement="top" title="Joined date" style="font-weight:bold; background-color:#bee5eb; color:#0c5460;font-size:90%"> @commonService.CreationDate(Model.CreationDate) <i class="fas fa-user"></i></a>
                @if (Model.Images.Count() > 0)
                {
                    <a style="font-weight:bold" asp-controller="Images" asp-action="PreviewUserFavoriteImages" asp-route-userId="@Model.Id" class="list-group-item list-group-item-action list-group-item-info" data-toggle="tooltip" data-placement="top" title="Favorite images">Favorite <i class="fas fa-heart"></i></a>
                }
                else
                {
                    <a class="list-group-item list-group-item-action list-group-item-info " style="font-weight:bold; background-color:#bee5eb; color:#0c5460;" data-toggle="tooltip" data-placement="top" title="No favorite images">No favorite  <i class="far fa-heart"></i></a>
                }

                @if (Model.Images.Count() > 0)
                {
                    <a style="font-weight:bold" asp-controller="Images" asp-action="PreviewUserImages" asp-route-id="@Model.Id" class="list-group-item list-group-item-action list-group-item-info" data-toggle="tooltip" data-placement="top" title="Images">Images <i class="fas fa-images"></i></a>
                }
                @if (Model.Images.Count() == 0 && Model.Id == this.User.FindFirstValue(ClaimTypes.NameIdentifier))
                {
                    <a style="font-weight:bold" asp-controller="Images" asp-action="AddImage" class="list-group-item list-group-item-action list-group-item-info" data-toggle="tooltip" data-placement="top" title="Add image">No images <i class="fas fa-images"></i></a>
                }
                @if (Model.Images.Count() != 0 && Model.Id == this.User.FindFirstValue(ClaimTypes.NameIdentifier))
                {
                    <a asp-controller="Images" asp-action="AddImage" style="font-weight:bold" class="list-group-item list-group-item-action list-group-item-info" data-toggle="tooltip" data-placement="bottom" title="Upload new image">
                        Upload  <i class="far fa-images"></i>
                    </a>
                }
                @if (Model.Id == this.User.FindFirstValue(ClaimTypes.NameIdentifier))
                {
                    @if (Model.SenderConversation.Count() > 0 || Model.RecepientConversation.Count() > 0)
                    {
                        @if (messageService.Unreaded(this.User.FindFirstValue(ClaimTypes.NameIdentifier)) > 0)
                        {
                            <a style="font-weight:bold; padding-right:0px;" class="list-group-item list-group-item-action list-group-item-info" asp-controller="Conversations" asp-action="PreviewUserConversations" asp-route-userId="@this.User.FindFirstValue(ClaimTypes.NameIdentifier)" data-toggle="tooltip" data-placement="bottom" title="Messages">
                                Messages <i style="font-size:110%; " class="far fa-envelope"></i>
                                <span class="badge " style="background-color:red; font-size:55%; color:white; position: relative; bottom: 9px; left: -10px; ">@messageService.Unreaded(this.User.FindFirstValue(ClaimTypes.NameIdentifier))</span>
                            </a>
                        }
                        else
                        {
                            <a style="font-weight:bold; padding-right:0px;" class="list-group-item list-group-item-action list-group-item-info" asp-controller="Conversations" asp-action="PreviewUserConversations" asp-route-userId="@this.User.FindFirstValue(ClaimTypes.NameIdentifier)" data-toggle="tooltip" data-placement="bottom" title="Messages">
                                Messages <i style="font-size:110%; " class="far fa-envelope"></i>
                            </a>
                        }
                    }
                    else
                    {
                        <a style="font-weight:bold; padding-right:0px; background-color:#bee5eb; color:#0c5460;" class="list-group-item list-group-item-action list-group-item-info" data-toggle="tooltip" data-placement="bottom" title="No messages">
                            Messages <i style="font-size:110%; " class="far fa-envelope"></i>
                            <span class="badge " style="background-color:red; font-size:55%; color:white; position: relative; bottom: 9px; left: -10px; ">0</span>
                        </a>
                    }
                }

            </div>
            @if (Model.Id == this.User.FindFirstValue(ClaimTypes.NameIdentifier))
            {
                <div class="btn-group" style="margin-top:10px;">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span data-toggle="tooltip" style="padding-right:20px; padding-left:9px;" data-placement="bottom" title="Settings">Settings  <i class="fas fa-cogs"></i></span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/index" data-toggle="tooltip" data-placement="bottom" title="Profile">Profile</a>
                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/SetPassword" data-toggle="tooltip" data-placement="bottom" title="Profile">Set password</a>
                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/PersonalData" data-toggle="tooltip" data-placement="bottom" title="Data">Personal data</a>
                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/TwoFactorAuthentication" data-toggle="tooltip" data-placement="bottom" title="TwoFactorAuthentication">Authentication</a>
                        <a class="dropdown-item" asp-controller="Users" asp-action="UpdateProfilePicture" asp-route-id="@this.User.FindFirstValue(ClaimTypes.NameIdentifier)" data-toggle="tooltip" data-placement="bottom" title="Change profile picture">Profile picture</a>
                    </div>
                </div>
            }
            <div style="margin-top:10px;">
                @if (Model.Id != this.User.FindFirstValue(ClaimTypes.NameIdentifier))
                {
                    <a style="font-weight:bold; padding:4px 21px; padding-right:73.5px" class="btn btn-primary" role="button" data-toggle="tooltip" data-placement="top" title="Send message" asp-controller="Messages" asp-action="AddMessage" asp-route-recepientId="@Model.Id">Send <i class="far fa-envelope"></i></a>
                }
            </div>
            <div style="margin-top:5px;">
                @if (this.User.IsInRole("Admin") && !await commonService.IsUserAdmin(Model.Id))
                {
                    if (!await commonService.IsUserModerator(Model.Id))
                    {
                        <a style="font-weight:bold; padding:4px 21px; padding-right:79px" class="btn btn-success" role="button" data-toggle="modal" data-target="#becomeModerator" data-placement="bottom" title="Become moderator" asp-controller="Common" asp-action="BecomeModerator" asp-route-userId="@Model.Id">User <i class="fas fa-arrow-up"></i></a>
                    }
                    else
                    {
                        <a style="font-weight:bold; padding:4px 21px; padding-right:31.8px" class="btn btn-success" role="button" data-toggle="modal" data-target="#becomeUser" data-placement="bottom" title="Stop moderator rights" asp-controller="Common" asp-action="StopModeratorRights" asp-route-userId="@Model.Id">Moderator <i class="fas fa-arrow-down"></i></a>
                    }
                }
            </div>
            <div style="margin-top:5px;">
                @if ((this.User.IsInRole("Moderator") && !await commonService.IsUserModerator(Model.Id)) ||
(this.User.IsInRole("Admin") && !await commonService.IsUserAdmin(Model.Id)))
                {
                    <div>
                        @if (!Model.IsBanned)
                        {
                            <a style="font-weight:bold; padding:4px 21px; padding-right:46px" class="btn  btn-md-4 btn-danger" role="button" data-toggle="tooltip" data-placement="top" title="Ban user" asp-controller="Common" asp-action="BanUser" asp-route-userId="@Model.Id" asp-route-isBanned="false" asp-route-name="@Model.UserName">Ban user  <i class="fas fa-ban"></i></a>
                        }
                        else
                        {
                            <a style="font-weight:bold; padding:4px 21px; padding-right:24px" class="btn btn-danger" role="button" data-toggle="tooltip" data-placement="top" title="Unban user" asp-controller="Common" asp-action="BanUser" asp-route-userId="@Model.Id" asp-route-isBanned="true" asp-route-name="@Model.UserName">Unban user   <i class="fas fa-ban"></i></a>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="jumbotron " style="min-height: 1200px; padding-top:15px; background-color:azure">
            <h5 class=" text-truncate" style="">
                <a style="color: #138496;">Scores: @Model.AverageScore</a>
                <a style="color: #138496; float:right;">Last login: @commonService.CreationDate(Model.LastLogin)</a>
            </h5>
            <hr />

            <div class="row">
                @foreach (var item in Model.Images.OrderByDescending(x => x.Scores).Take(9))
                {
                    <div class="col-md-4">
                        <div class="imageBoxMainUser">
                            <div class="row">
                                <div class="col-md-10 offset-md-1 d-inline-block text-truncate" style="font-size:75%; color:#0c5460; text-align:center; padding: 0.5px 3px; padding-top:2px;">
                                    @item.Title
                                </div>
                            </div>
                            <a asp-controller="Images" asp-action="PreviewImage" asp-route-id="@item.Id " data-toggle="tooltip" data-placement="bottom" title="See the photo!">
                                <img src="data:image;base64,@System.Convert.ToBase64String(item.Picture)" class="imageCategoryMainUser" />
                            </a>
                        </div>
                        <a style="padding-left:6px;"></a>
                    </div>
                }
                @if (Model.Images.Count() == 0 && Model.Id == this.User.FindFirstValue(ClaimTypes.NameIdentifier))
                {
                    <div class="col-md-3">
                        <a style="font-weight:bold; font-size:90%;" asp-controller="Images" asp-action="AddImage" class="list-group-item list-group-item-action list-group-item-info" data-toggle="tooltip" data-placement="top" title="Add image">No images. <i class="fas fa-images"></i></a>
                    </div>
                }
                @if (Model.Images.Count() == 0 && Model.Id != this.User.FindFirstValue(ClaimTypes.NameIdentifier))
                {
                    <div class="col-md-4">
                        <a class="list-group-item list-group-item-action list-group-item-info" style="font-weight:bold; font-size:85%; background-color:#bee5eb" data-toggle="tooltip" data-placement="top" title="No images"> The user has no photos. </a>
                    </div>
                }
                <br />
                <br />
            </div>
            @if (@Model.SelfDescription != null)
            {
                <a style="color:#0c5460">Self-description:</a>
                <div class="alert alert-info" role="alert">
                    <a style="word-wrap: break-word;">@Model.SelfDescription</a>
                </div>
            }
            @if (@Model.Technique != null)
            {
                <a style="color:#0c5460">Equipment:</a>
                <div class="alert alert-info" role="alert">
                    <a style="word-wrap: break-word;">@Model.Technique</a>
                </div>
            }
        </div>
    </div>
</div>
<br>
<hr />

<div class="modal fade" id="becomeModerator" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure @Model.UserName to become a moderator?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer" style="padding-top:20px;">
                <a class="btn btn-info" asp-controller="Common" asp-action="BecomeModerator" asp-route-userId="@Model.Id">Yes</a>
                <button type="button" class="btn btn-info" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="becomeUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure @Model.UserName stop moderator rights?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer" style="padding-top:20px;">
                <a class="btn btn-info" asp-controller="Common" asp-action="StopModeratorRights" asp-route-userId="@Model.Id">Yes</a>
                <button type="button" class="btn btn-info" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
