@model PhotographyAddicted.Services.Models.Users.PreviewUsersViewModel
@using PhotographyAddicted.Services.DataServices
@using PhotographyAddicted.Services.DataServices.ImageService
@using PhotographyAddicted.Services.DataServices.CommonService

@inject ICommonService commonService
@inject IImageService imageService
@inject IUserService  userService

@{
    ViewData["Title"] = "PreviewUsers";
}

<div class="row">
    <div class="col-md-6 offset-md-2">
        <div class="jumbotron " style="min-height: 1200px; padding-top:15px; background-color:azure">
            <br>
            <div class="row">
                <div class="col-md-9">
                    <div class="search-container">
                        <form asp-controller="Users" asp-action="PreviewUsers">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <button class="btn btn-info" type="submit" data-toggle="tooltip" data-placement="bottom" title="Search">Search</button>
                                    <a class="btn btn-info" asp-controller="Users" asp-action="PreviewUsers" data-toggle="tooltip" data-placement="bottom" title="Clear">
                                        <i class="fas fa-eraser"></i>
                                    </a>
                                </div>
                                <input placeholder="Search user.." value="@Model.input" type="text" name="input" class="form-control" aria-describedby="basic-addon1">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            @if (Model.PreviewUsers.FirstOrDefault() == null)
            {
                <hr class="my-4">
                <div class="alert alert-info" role="alert">
                    There is no user with nickname
                    <a style="color:red">"@Model.input"</a>
                </div>
            }
            else
            {
                <hr class="my-4">
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            @foreach (var comment in Model.PreviewUsers.OrderBy(x => x.UserName).Take(10))
                            {
                                <div class="alert alert-info" role="alert">
                                    <div class="row">
                                        @if (comment.ProfilePicture !=null)
                                        { 
                                        <a class="col-md-2" asp-controller="Users" asp-action="PreviewUser" asp-route-id="@comment.Id" data-toggle="tooltip" data-placement="bottom" title="Go to the user profile">
                                            <img src="data:image;base64,@System.Convert.ToBase64String(comment.ProfilePicture )" style="max-height: 93px; max-width: 93px;" />
                                        </a>
                                        }
                                        else
                                        {
                                        <a class="col-md-2" asp-controller="Users" asp-action="PreviewUser" asp-route-id="@comment.Id" data-toggle="tooltip" data-placement="bottom" title="Go to the user profile">
                                            <img src="~/images/userNoImage.png" style="max-height: 93px; max-width: 93px;" />
                                        </a>      
                                        }
                                        <div class="col-md-10">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div>
                                                        <a style=" float:left" data-toggle="tooltip" data-placement="bottom" title="Scores">
                                                            <i class="fas fa-poll"></i>  @comment.AverageScore
                                                        </a>
                                                        <a data-toggle="tooltip" data-placement="bottom" title="Image count">
                                                            &nbsp <i class="fas fa-images"></i>  @comment.ImageCount
                                                        </a>
                                                        <a style="font-size:x-small; float:right; ">
                                                            Joined date: @commonService.CreationDate(comment.CreationDate)
                                                        </a>
                                                        <br />
                                                        <div style="font-size:x-large; padding-top:5px;">
                                                            <a class="user" asp-controller="Users" asp-action="PreviewUser" asp-route-id="@comment.Id" data-toggle="tooltip" data-placement="bottom" title="Go to the user profile">
                                                                @comment.UserName
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-2">
        <div class="jumbotron " style="min-height: 1200px;  padding-top:15px; background-color:azure">
            <div style="padding-top:7px;">
                @foreach (var comment in imageService.PreviewImages(null).PreviewImages.OrderByDescending(x => x.UploadedDate).Take(40).OrderBy(x => Guid.NewGuid()).Take(5))
                {
                    <hr />
                    @if (comment.Picture != null)
                    {
                        <a asp-controller="Images" asp-action="PreviewImage" asp-route-id="@comment.Id" data-toggle="tooltip" data-placement="bottom" title="Go to the photo">
                            <img src="data:image;base64,@System.Convert.ToBase64String(comment.Picture)" style="padding-bottom:3px; padding-top:3px; max-width: 240px; width: 100%; max-height: 240px; height: 100%; " />
                        </a>
                    }
                }
            </div>
        </div>
    </div>
</div>
