@model PhotographyAddicted.Services.Models.Images.PreviewImagesViewModel
@using PhotographyAddicted.Data.Models
@using Microsoft.AspNetCore.Http
@using System.Security.Claims

@{
    ViewData["Title"] = "PreviewImages";
}

<h2>PreviewImages</h2>

<div>
    <h4>PreviewImagesViewModel</h4>
    <hr />
    <dl class="dl-horizontal"></dl>
</div>
<div>
    @if (Model.PreviewImages.Count() != 0)
    {

        @if (Model.PreviewImages.FirstOrDefault().ImageCategory != 0)
        {
            <div class="search-container">
                <form asp-controller="Images" asp-action="PreviewImages">
                    <p>
                        Title: <input placeholder="Search.." type="text" name="input">
                        <button type="submit">Submit</button>
                        <a class="btn btn-default btn-sm" asp-controller="Images" asp-action="PreviewImages">Clear!</a>
                    </p>
                </form>
            </div>
        }

        <div>
            @foreach (var item in Model.PreviewImages)
            {

                if (item.Picture != null)
                {
                    <img src="data:image;base64,@System.Convert.ToBase64String(item.Picture)" style="max-height: 130px; height: 70%; width: auto;" />
                }

                <a class="btn btn-default btn-sm" asp-controller="Images" asp-action="PreviewImage" asp-route-id="@item.Id ">View </a>
                if (item.ImageCategory != 0)
                {
                    if (item.Title == null)
                    {
                        <a class="btn btn-default btn-sm" asp-controller="Images" asp-action="PreviewCategoryImages" asp-route-id="@((int)item.ImageCategory)">ViewCategory </a>
                    }
                    else
                    {
                        <a class="btn btn-default btn-sm" asp-controller="Images" asp-action="PreviewTopImagesLasтThirtyDays" asp-route-id="@((int)item.ImageCategory)">ViewCategoryTop </a>

                    }
                }


                @item.Scores
                @item.Title

                if (item.PhotographyAddictedUserId == this.User.FindFirstValue(ClaimTypes.NameIdentifier))
                {
                    @*@Html.ActionLink("Edit", "EditPictureInfo", "Image", new { Id = Model.Id })*@
                    <a class="btn btn-default btn-sm" asp-controller="Images" asp-action="UpdateImage" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-default btn-sm" asp-controller="Images" asp-action="DeleteImage" asp-route-id="@item.Id">Delete</a>
                }
            }

        </div>
    }
    else
    {
        <div class="search-container">
            <form asp-controller="Images" asp-action="PreviewImages">
                <p>
                    Title: <input placeholder="Search.." type="text" name="input">
                    <button type="submit">Submit</button>
                    <a class="btn btn-default btn-sm" asp-controller="Images" asp-action="PreviewImages">Clear!</a>
                </p>
            </form>
        </div>
    }
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
