@model PhotographyAddicted.Services.Models.Images.PreviewImagesViewModel
@using PhotographyAddicted.Data.Models
@using Microsoft.AspNetCore.Http
@using System.Security.Claims

@{
    ViewData["Title"] = "PreviewImages";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="jumbotron " style="min-height: 930px; padding-top:15px; background-color:azure">
            <br>
            <div>
                @if (Model.PreviewImages.Count() != 0)
                {
                    @if (Model.PreviewImages.FirstOrDefault().ImageCategory != 0)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="search-container">
                                    <form asp-controller="Images" asp-action="PreviewImagesSearch">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                                <button class="btn btn-info" type="submit" data-toggle="tooltip" data-placement="bottom" title="Search">Search</button>
                                                <a class="btn btn-info" asp-controller="Images" asp-action="PreviewImages" data-toggle="tooltip" data-placement="bottom" title="Clear"><i class="fas fa-eraser"></i></a>
                                            </div>
                                            <input placeholder="Search image.." value="@Model.Input" type="text" name="input" class="form-control" aria-describedby="basic-addon1">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <br />
                        <hr />
                    }
                    <div>
                        @foreach (var item in Model.PreviewImages)
                        {

                            if (item.Picture != null)
                            {
                            }

                            if (item.ImageCategory != 0)
                            {
                                <a class="btn btn-default btn-sm" asp-controller="Images" asp-action="PreviewImage" asp-route-id="@item.Id ">
                                    <img src="data:image;base64,@System.Convert.ToBase64String(item.Picture)" style="max-height: 130px; height: 70%; width: auto;" />
                                </a>

                                <a class="btn btn-default btn-sm" asp-controller="Images" asp-action="PreviewCategoryImages" asp-route-id="@((int)item.ImageCategory)">@item.ImageCategory</a>
                            }
                            else
                            {
                                <img src="data:image;base64,@System.Convert.ToBase64String(item.Picture)" style="max-height: 130px; height: 70%; width: auto;" />
                            }

                            @item.Scores
                            @item.Title

                            if (item.PhotographyAddictedUserId == this.User.FindFirstValue(ClaimTypes.NameIdentifier) || this.User.IsInRole("Moderator"))
                            {
                                <a class="btn btn-default btn-sm" asp-controller="Images" asp-action="UpdateImage" asp-route-id="@item.Id">Edit</a>
                                <a class="btn btn-default btn-sm" asp-controller="Images" asp-action="DeleteImage" asp-route-id="@item.Id">Delete</a>
                            }
                        }
                    </div>
                }
                else
                {
                    <div class="search-container">
                        <form asp-controller="Images" asp-action="PreviewImagesSearch">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <button class="btn btn-info" type="submit" data-toggle="tooltip" data-placement="bottom" title="Search">Search</button>
                                    <a class="btn btn-info" asp-controller="Images" asp-action="PreviewImages" data-toggle="tooltip" data-placement="bottom" title="Clear"><i class="fas fa-eraser"></i></a>
                                </div>
                                <input placeholder="Search image.." value="@Model.Input" type="text" name="input" class="form-control" aria-describedby="basic-addon1">
                            </div>
                        </form>
                    </div>
                    <br />
                    <hr />
                    <div>
                        <div class="alert alert-info" role="alert">
                            There is no themes that include <a style="color:red">"@Model.Input"</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
