@model PhotographyAddicted.Services.Models.Images.PreviewImageViewModel
@using PhotographyAddicted.Services.DataServices.ImageService
@inject IImageService imageService

@using Microsoft.AspNetCore.Http
@using System.Security.Claims

@{
    ViewData["Title"] = "PreviewImage";
}

<h2>ViewPictureDetails</h2>

@{
    if (this.User.Identity.IsAuthenticated)
    {
        string userId = this.User.FindFirstValue(ClaimTypes.NameIdentifier);

        if (imageService.IsImageInFavouriteImage(userId, Model.Id))
        {
            <a class="btn btn-default btn-sm" style="color:green" asp-controller="Images" asp-action="DeleteImageToFavourites"
               asp-route-userId="@userId" asp-route-imageId="@Model.Id">DeleteImageToFavourites</a>
        }
        else
        {
            <a class="btn btn-default btn-sm" style="color:orangered" asp-controller="Images" asp-action="AddImageToFavourites"
               asp-route-userId="@userId" asp-route-imageId="@Model.Id">AddImageToFavourites</a>
        }
    }
}

@{
    if (this.User.Identity.IsAuthenticated && (Model.PhotographyAddictedUserId != this.User.FindFirstValue(ClaimTypes.NameIdentifier)))
    {
        if (!Model.VotedUsers.Any(x => x.UserId == this.User.FindFirstValue(ClaimTypes.NameIdentifier)))
        {
            string userId = this.User.FindFirstValue(ClaimTypes.NameIdentifier);

            <a class="btn btn-default btn-sm" style="color:green" asp-controller="Images" asp-action="AddImageScores"
               asp-route-userId="@userId" asp-route-imageId="@Model.Id">Vote for this pic!</a>
        }
        else
        {
            <h3 style="color:red">You allready voted.</h3>
        }
    }
}

<p>
    @Model.ImageCategory - @Model.UploadedDate
</p>
<p>
    @Model.Title - @Model.PhotographyAddictedUser.UserName
</p>

<div class="modal-body" id="modal-body" style="cursor: zoom-out; width: 722px; height: 635px;">
    <img class="img-responsive" style="max-height:100%; position: relative;
    top: 50%; transform: translateY(-50%);" src="data:image;base64,@System.Convert.ToBase64String(Model.Picture)">
</div>
<div>
    <h4>ImagePreviewViewModel</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageCategory)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Scores)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Scores)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Equipment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Equipment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Settings)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Settings)
        </dd>
    </dl>
</div>
<div>
    @if (this.User.Identity.IsAuthenticated)
    {
        <a class="btn btn-default btn-sm" asp-controller="ImagesComments" asp-action="AddImageComment" asp-route-id="@Model.Id">Add coment! </a>
    }
</div>
<hr />

<div>
    @foreach (var comment in Model.ImageComments)
    {
        <h4>
            @comment.PhotographyAddictedUser.UserName : @comment.UserOpinion - @comment.CreationDate
            @if (comment.PhotographyAddictedUserId == this.User.FindFirstValue(ClaimTypes.NameIdentifier) || this.User.IsInRole("Moderator"))
            {
                <a class="btn btn-default btn-sm" asp-controller="ImagesComments" asp-action="DeleteImageComment" asp-route-id="@comment.Id">Delete</a>
                <a class="btn btn-default btn-sm" asp-controller="ImagesComments" asp-action="UpdateImageComment" asp-route-id="@comment.Id">Edit</a>
            }
        </h4>
    }
</div>
<div>
    @if (Model.PhotographyAddictedUserId == this.User.FindFirstValue(ClaimTypes.NameIdentifier) || this.User.IsInRole("Moderator"))
    {
        <a class="btn btn-default btn-sm" asp-controller="Images" asp-action="UpdateImage" asp-route-id="@Model.Id">Edit</a>
        <a class="btn btn-default btn-sm" asp-controller="Images" asp-action="DeleteImage" asp-route-id="@Model.Id">Delete</a>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Launch demo modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete image!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a  class="btn btn-primary" asp-controller="Images" asp-action="DeleteImage" asp-route-Id="@Model.Id">Save changes</a>
                    </div>
                </div>
            </div>
        </div>
    }
    <a asp-action="Index">Back to List</a>
</div>
