@model PhotographyAddicted.Services.Models.PhotoStorys.PreviewPhotoStoryViewModel

@{
    ViewData["Title"] = "DeletePhotoStory";
}

<h2>DeletePhotoStory</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PreviewPhotoStoryViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
     
        <dt>
            @Html.DisplayNameFor(model => model.UploadedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UploadedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Introduction)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Introduction)
        </dd>
       
    </dl>
    
    <form asp-action="DeletePhotoStory">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
