@model PhotographyAddicted.Services.Models.PhotoStorys.PreviewPhotoStoryViewModel
@using Microsoft.AspNetCore.Http
@using System.Security.Claims

@{
    ViewData["Title"] = "PreviewPhotoStory";
}

<h2>PreviewPhotoStory</h2>
@if (this.User.Identity.IsAuthenticated)
{
    <a class="btn btn-default btn-sm" asp-controller="PhotoStoriesComments" asp-action="AddPhotoStoryComment" asp-route-id="@Model.Id">AddComment</a>
}

@if (Model.PhotographyAddictedUserId == this.User.FindFirstValue(ClaimTypes.NameIdentifier))
{
    <div>
        <h1>
            @if (Model.Published)
            {
                <a>Published!!!</a> <a class="btn btn-default btn-sm" asp-controller="PhotoStories" asp-action="ChangeStatus" asp-route-id="@Model.Id">Unpublish</a>
            }
            else
            {
                <a>Not published!!!</a> <a class="btn btn-default btn-sm" asp-controller="PhotoStories" asp-action="ChangeStatus" asp-route-id="@Model.Id">Publish</a>
            }
        </h1>
    </div>

    @if (Model.PhotographyAddictedUserId == this.User.FindFirstValue(ClaimTypes.NameIdentifier))
    {
        <a class="btn btn-default btn-sm" asp-controller="PhotoStories" asp-action="UpdatePhotoStory" asp-route-id="@Model.Id">Update</a>
        <a class="btn btn-default btn-sm" asp-controller="PhotoStories" asp-action="DeletePhotoStory" asp-route-id="@Model.Id">Delete</a>
    }
}
<div>
    <h4>PreviewPhotoStoryViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UploadedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UploadedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Introduction)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Introduction)
        </dd>
    </dl>
</div>

<div>
    @if (Model.PhotographyAddictedUserId == this.User.FindFirstValue(ClaimTypes.NameIdentifier))
    {
        <a class="btn btn-default btn-sm" asp-controller="PhotoStoriesFragments" asp-action="AddPhotoStoryFragment" asp-route-id="@Model.Id">AddFragment</a>
    }


</div>

<div>
    @if (Model.PhotoStoryFragments != null)
    {
        foreach (var fragment in Model.PhotoStoryFragments)
        {
            <h1>@fragment.Place</h1>
            @if (fragment.Picture != null)
            {
                <img src="data:image;base64,@System.Convert.ToBase64String(fragment.Picture)" style="max-height: 70px; height: 70%; width: auto;" />
            }

            @if (Model.PhotographyAddictedUserId == this.User.FindFirstValue(ClaimTypes.NameIdentifier))
            {
                <a class="btn btn-default btn-sm" asp-controller="PhotoStoriesFragments" asp-action="UpdatePhotoStoryFragment" asp-route-id="@fragment.Id">Update</a>
                <a class="btn btn-default btn-sm" asp-controller="PhotoStoriesFragments" asp-action="DeletePhotoStoryFragment" asp-route-id="@fragment.Id">Delete</a>
            }
        }
    }

</div>
<div>
    @if (Model.Conclusion != null)
    {
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Conclusion)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Conclusion)
            </dd>

        </dl>
    }
</div>

<div>
    @foreach (var comment in Model.PhotoStoryComments)
    {
        <h4>@comment.UserOpinion</h4>
        @if (Model.PhotographyAddictedUserId == this.User.FindFirstValue(ClaimTypes.NameIdentifier))
        {
            <a class="btn btn-default btn-sm" asp-controller="PhotoStoriesComments" asp-action="UpdatePhotoStoryComment" asp-route-id="@comment.Id">Update</a>
            <a class="btn btn-default btn-sm" asp-controller="PhotoStoriesComments" asp-action="DeletePhotoStoryComment" asp-route-id="@comment.Id">Delete</a>
        }
    }
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
