@model PhotographyAddicted.Services.Models.PhotoStorys.PreviewPhotoStoryViewModel
@using Microsoft.AspNetCore.Http
@using System.Security.Claims

@{
    ViewData["Title"] = "PreviewPhotoStory";
}

<h2>PreviewPhotoStory</h2>

@if (Model.PhotographyAddictedUserId == this.User.FindFirstValue(ClaimTypes.NameIdentifier))
{
    <div>
        <h1>
            @if (Model.Published)
            {
                <a>Published!!!</a>  <a class="btn btn-default btn-sm" asp-controller="PhotoStories" asp-action="ChangeStatus" asp-route-id="@Model.Id">Unpublish</a>                         
            }
            else
            {
                <a>Not published!!!</a> <a class="btn btn-default btn-sm" asp-controller="PhotoStories" asp-action="ChangeStatus" asp-route-id="@Model.Id">Publish</a>
            }            
        </h1>
    </div>
}
<div>
    <h4>PreviewPhotoStoryViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UploadedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UploadedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Introduction)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Introduction)
        </dd>
    </dl>
</div>

<div>


</div>

<div>
    @foreach (var fragment in Model.PhotoStoryFragments)
    {

    }
</div>

<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
