@using PhotographyAddicted.Services.DataServices
@using PhotographyAddicted.Services.DataServices.CommonService

@inject INewService  newService
@inject ICommonService commonService
@{
    ViewData["Title"] = "PreviewNewsPartial";
}

<div class="col-md-3">
    <div class="jumbotron " style="min-height: 930px; padding-top:10px; background-color:azure">
        <div style="padding-top:12px">
            @foreach (var comment in newService.PreviewNews(null).PreviewNews.OrderByDescending(x => x.CreationDate).Take(30).OrderBy(x => Guid.NewGuid()).Take(5))
            {
                <div style="font-size:x-small;  padding-top:13px; padding-bottom:13px;">
                    @commonService.CreationDate(comment.CreationDate)
                    <svg height="1" width="218">
                        <line x1="0" y1="0" x2="1000" y2="0" style="stroke:rgb(216, 216, 216);stroke-width:1" />
                    </svg>
                </div>
                <div class="row">
                    <a class="col-md-5" asp-controller="News" asp-action="PreviewNew" asp-route-id="@comment.Id" data-toggle="tooltip" data-placement="bottom" title="Go to the new">
                        <img src="data:image;base64,@System.Convert.ToBase64String(comment.NewImage )" style="height: 110px; max-width: 110px;" />
                    </a>
                    <div class="col-md-7">
                        <a class="news-style-padding demo-1" style=" font-size: 85%; font-weight: bold;" asp-controller="News" asp-action="PreviewNew" asp-route-id="@comment.Id" data-toggle="tooltip" data-placement="bottom" title="Go to the new">@comment.Title</a>
                        <a style="font-size: 70%; font-weight: bold; font: bold Georgia;">@comment.ComentsCount</a>
                        <i class="far fa-comment-alt" style=" font-size: 90%;" data-toggle="tooltip" data-placement="bottom" title="New comments"></i>
                    </div>
                </div>
            }
        </div>
    </div>
</div>