@model PhotographyAddicted.Services.Models.Themes.PreviewThemesViewModel

@using PhotographyAddicted.Services.DataServices.ImageService
@using PhotographyAddicted.Services.DataServices.CommonService
@using Microsoft.AspNetCore.Http
@using System.Security.Claims

@inject IImageService imageService
@inject ICommonService commonService

@{
    ViewData["Title"] = "PreviewThemes";
}

<div class="row">
    <div class="col-md-6 offset-md-2">
        <div class="jumbotron " style="min-height: 1200px; padding-top:15px; background-color:azure">
            <br>
            <div class="row">
                <div class="col-md-9">
                    <div class="search-container">
                        <form asp-controller="Themes" asp-action="PreviewThemesSearch">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <button class="btn btn-info" type="submit" data-toggle="tooltip" data-placement="bottom" title="Search">Search</button>
                                    <a class="btn btn-info" asp-controller="Themes" asp-action="PreviewThemes" data-toggle="tooltip" data-placement="bottom" title="Clear"><i class="fas fa-eraser"></i></a>
                                </div>
                                <input placeholder="Search theme.." value="@Model.Input" type="text" name="input" class="form-control" aria-describedby="basic-addon1" >
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-3">
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <p style="float:right">
                            <a class="btn btn-sm  btn-info " href="~/Themes/AddTheme" role="button" data-toggle="tooltip" data-placement="top" title="Add new theme">
                                <i class="fas fa-plus-square"></i>  Theme
                            </a>
                        </p>
                    }
                </div>
            </div>
            @if (Model.PreviewThemes.FirstOrDefault() == null)
            {
            <hr class="my-4">
            <div class="alert alert-info" role="alert">
                There is no themes that include <a style="color:red">"@Model.Input"</a>
            </div>
            }
            else
            {
                <hr class="my-4">
                <div class="row">
                    @foreach (var theme in Model.PreviewThemes.OrderByDescending(x => x.ThemeComments.LastOrDefault().CreationDate).Take(10))
                    {
                        <div class="col-md-12">
                            <div class="alert alert-info" role="alert">
                                <div>
                                    <a class="d-inline-block text-truncate themes " style="max-width: 530px;" asp-controller="Themes" asp-action="PreviewTheme" asp-route-id="@theme.Id" data-toggle="tooltip" data-placement="bottom" title="Go to the theme">

                                        @if ((int)theme.ThemeCategory == 0)
                                        {
                                            <i class="far fa-paper-plane ">&nbsp</i>
                                        }
                                        else if ((int)theme.ThemeCategory == 1)
                                        {
                                            <i class="fas fa-palette">&nbsp</i>
                                        }
                                        else if ((int)theme.ThemeCategory == 2)
                                        {
                                            <i class="fas fa-desktop">&nbsp</i>
                                        }
                                        else if ((int)theme.ThemeCategory == 3)
                                        {
                                            <i class="fas fa-child">&nbsp</i>
                                        }
                                        else if ((int)theme.ThemeCategory == 4)
                                        {
                                            <i class="fas fa-camera-retro">&nbsp</i>
                                        }

                                        @theme.Title
                                    </a>
                                    @if (theme.PhotographyAddictedUserId == this.User.FindFirstValue(ClaimTypes.NameIdentifier) || this.User.IsInRole("Moderator"))
                                    {
                                        <a class="btn btn-sm sButton" asp-controller="Themes" asp-action="DeleteTheme" asp-route-Id="@theme.Id" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fas fa-trash-alt" style="color: #0c5460;"></i></a>
                                        <a class="btn btn-sm sButton" asp-controller="Themes" asp-action="UpdateTheme" asp-route-Id="@theme.Id" data-toggle="tooltip" data-placement="bottom" title="Update"><i class="fas fa-wrench" style="color: #0c5460;"></i> </a>
                                    }
                                </div>

                                <hr style="margin-bottom:2px; margin-top:1px">
                                <div class="row" style=" color: black;">
                                    <div class="col-md-6">
                                        <p style=" font-size:x-small; font-weight: bold; margin-bottom:2px; margin-top:2px">
                                        <a class="nav-styleLittle" style="color:#0c5460" asp-controller="Users" asp-action="PreviewUser" asp-route-id="@theme.PhotographyAddictedUser.Id"
                                            data-toggle="tooltip" data-placement="bottom" title="Go to the user profile">
                                            @theme.PhotographyAddictedUser.UserName</a> - <a style="color:#0c5460">@commonService.CreationDate(theme.CreationDate)</a>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p style=" font-size:x-small; color:#0c5460; font-weight: bold; float:right; margin-bottom:2px; margin-top:2px">Comments: @theme.ThemeComments.Count()</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>

    <div class="col-md-2">
        <div class="jumbotron " style="min-height: 1200px;  padding-top:15px; background-color:azure">
            <div style="padding-top:7px;">
                @foreach (var comment in imageService.PreviewImages(null).PreviewImages.OrderByDescending(x => x.UploadedDate).Take(40).OrderBy(x => Guid.NewGuid()).Take(5))
                {
                    <hr />
                    @if (comment.Picture != null)
                    {
                        <a asp-controller="Images" asp-action="PreviewImage" asp-route-id="@comment.Id" data-toggle="tooltip" data-placement="bottom" title="Go to the photo">
                            <img src="data:image;base64,@System.Convert.ToBase64String(comment.Picture)" style="padding-bottom:3px; padding-top:3px; max-width: 240px; width: 100%; max-height: 240px; height: 100%; " />
                        </a>
                    }
                }
            </div>
        </div>
    </div>
</div>
