@model PhotographyAddicted.Services.Models.Themes.PreviewThemesViewModel
@using Microsoft.AspNetCore.Http
@using System.Security.Claims

@{
    ViewData["Title"] = "PreviewThemes";
}

<h2>PreviewAllThemes</h2>

<div class="search-container">
    <form asp-controller="Themes" asp-action="PreviewThemes">
        <p>
            Title: <input placeholder="Search.." type="text" name="input">
            <button type="submit">Submit</button>
            <a class="btn btn-default btn-sm"  asp-controller="Themes" asp-action="PreviewThemes" >Clear!</a>
        </p>
    </form>
</div>


<h2>
    @ViewData["Title"] -
    @if (this.User.Identity.IsAuthenticated)
    {
        <a asp-area="" asp-controller="Themes" asp-action="AddTheme" style="color: orangered">CreateTheme</a>
        @*<li><a asp-area="" asp-controller="User" asp-action="ViewUserProfile">User Profile</a></li>*@
    }
</h2>

@foreach (var theme in Model.PreviewThemes)
 {
<h1>@theme.Title - @theme.UserName - @theme.ThemeCategory - @theme.CreationDate</h1>
    <p>
        <a class="btn btn-default btn-sm" asp-controller="Themes" asp-action="PreviewTheme" asp-route-id="@theme.Id">View </a>

        @if (theme.PhotographyAddictedUserId == this.User.FindFirstValue(ClaimTypes.NameIdentifier)
            || this.User.IsInRole("Admin") || this.User.IsInRole("Moderator"))
        {
            <a class="btn btn-default btn-sm" asp-controller="Themes" asp-action="UpdateTheme" asp-route-id="@theme.Id">Update </a>
            <a class="btn btn-default btn-sm" asp-controller="Themes" asp-action="DeleteTheme" asp-route-id="@theme.Id">Delete</a>
        }
    </p>
 }

