@model PhotographyAddicted.Services.Models.Themes.PreviewThemeViewModel
@using PhotographyAddicted.Data.Models
@using Microsoft.AspNetCore.Http
@using System.Security.Claims

@{
    ViewData["Title"] = "PreviewTheme";
}

<h2>Details</h2>

<h1>
    @Model.Title - @Model.PhotographyAddictedUser.UserName - @Model.ThemeCategory - @Model.CreationDate

    @if (Model.PhotographyAddictedUserId == this.User.FindFirstValue(ClaimTypes.NameIdentifier) || this.User.IsInRole("Moderator"))
    {
        <a class="btn btn-default btn-sm" asp-controller="Themes" asp-action="UpdateTheme" asp-route-id="@Model.Id">Update </a>
        <a class="btn btn-default btn-sm" asp-controller="Themes" asp-action="DeleteTheme" asp-route-id="@Model.Id">Delete</a>
    }

    @if (this.User.Identity.IsAuthenticated)
    {
        <a class="btn btn-default btn-sm" asp-controller="ThemesComments" asp-action="AddThemeComment" asp-route-id="@Model.Id">Add coment! </a>
    }
</h1>
<h3>@Model.UserName : @Model.AuthorOpinion</h3>

@foreach (var comment in Model.ThemeComments)
{
<li>
    @comment.PhotographyAddictedUser.UserName : @comment.UserOpinion - @comment.CreationDate
    @if (comment.PhotographyAddictedUserId == this.User.FindFirstValue(ClaimTypes.NameIdentifier) || this.User.IsInRole("Moderator"))
    {
        <a class="btn btn-default btn-sm" asp-controller="ThemesComments" asp-action="DeleteThemeComment" asp-route-id="@comment.Id">Delete</a>
        <a class="btn btn-default btn-sm" asp-controller="ThemesComments" asp-action="UpdateThemeComment" asp-route-id="@comment.Id">Update</a>
    }
</li>
}

