@model PhotographyAddicted.Services.Models.News.PreviewNewViewModel
@using Microsoft.AspNetCore.Http
@using System.Security.Claims

@{
    ViewData["Title"] = "PreviewNew";
}

<h2>ViewSpecificNew</h2>

<div>
    <h4>PreviewNewViewModel</h4>
    <hr />
    <h4>
        <img src="data:image;base64,@System.Convert.ToBase64String(Model.NewImage )" style="max-height: 70px; height: 70%; width: auto;" />
        @Model.Title - @Model.ComentsCount - @Model.CreationDate
    </h4>
    <br>
    <h4>
        @Model.TextContent
    </h4>

    <h1>

        @if (Model.PhotographyAddictedUserId == this.User.FindFirstValue(ClaimTypes.NameIdentifier)
             || this.User.IsInRole("Admin") || this.User.IsInRole("Moderator"))
        {
        <a class="btn btn-default btn-sm" asp-controller="News" asp-action="UpdateNew" asp-route-id="@Model.Id">Update </a>
        <a class="btn btn-default btn-sm" asp-controller="News" asp-action="DeleteNew" asp-route-id="@Model.Id">Delete</a>
        }

        @if (this.User.Identity.IsAuthenticated)
        {
        <a class="btn btn-default btn-sm" asp-controller="NewsComments" asp-action="AddNewComment" asp-route-id="@Model.Id">Add coment! </a>
        }
    </h1>

</div>
<br>
<div>
    @foreach (var comment in Model.NewComments)
    {
    <h4>
        @comment.PhotographyAddictedUser.UserName : @comment.UserOpinion - @comment.CreationDate
        @if (comment.PhotographyAddictedUserId == this.User.FindFirstValue(ClaimTypes.NameIdentifier)
             || this.User.IsInRole("Admin") || this.User.IsInRole("Moderator"))
        {
        <a class="btn btn-default btn-sm" asp-controller="NewsComments" asp-action="DeleteNewComment" asp-route-id="@comment.Id">Delete</a>
        <a class="btn btn-default btn-sm" asp-controller="NewsComments" asp-action="UpdateNewComment" asp-route-id="@comment.Id">Edit</a>
        }
    </h4>
    }
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
