@model PhotographyAddicted.Services.Models.News.PreviewNewsViewModel
@using PhotographyAddicted.Services.DataServices
@using PhotographyAddicted.Services.DataServices.CommonService
@using Microsoft.AspNetCore.Http
@using System.Security.Claims
@using PhotographyAddicted.Services.DataServices.ImageService

@inject ICommonService commonService
@inject IImageService imageService
@inject INewService  newService

@{
    ViewData["Title"] = "PreviewNews";
}

<div class="row">
    <div class="col-md-6 offset-md-2">
        <div class="jumbotron " style="min-height: 1200px; padding-top:15px; background-color:azure">
            <br>
            <div class="row">
                <div class="col-md-9">
                    <div class="search-container">
                        <form asp-controller="News" asp-action="PreviewNews">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <button class="btn btn-info" type="submit" data-toggle="tooltip" data-placement="bottom" title="Search">Search</button>
                                    <a class="btn btn-info" asp-controller="News" asp-action="PreviewNews" data-toggle="tooltip" data-placement="bottom" title="Clear"><i class="fas fa-eraser"></i></a>
                                </div>
                                <input placeholder="Search new.." value="@Model.Input" type="text" name="input" class="form-control" aria-describedby="basic-addon1">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-3">
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <p style="float:right">
                            <a class="btn btn-sm  btn-info " href="~/News/AddNew" role="button" data-toggle="tooltip" data-placement="top" title="Add new">
                                <i class="fas fa-plus-square"></i>  New
                            </a>
                        </p>
                    }
                </div>
            </div>
            @if (Model.PreviewNews.FirstOrDefault() == null)
            {
                <hr class="my-4">
                <div class="alert alert-info" role="alert">
                    There is no news that include <a style="color:red">"@Model.Input"</a>
                </div>
            }
            else
            {
                <hr class="my-4">
                <div class="row">
                    <div class="col-md-12">
                        @foreach (var comment in Model.PreviewNews.OrderByDescending(x => x.CreationDate))
                        {
                        <div class="alert alert-info" role="alert">                           
                            <div class="row">
                                <a class="col-md-2" asp-controller="News" asp-action="PreviewNew" asp-route-id="@comment.Id" data-toggle="tooltip" data-placement="bottom" title="Go to the new">
                                    <img src="data:image;base64,@System.Convert.ToBase64String(comment.NewImage )" style="max-height: 93px; width: auto" />
                                </a>
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div style="font-size:x-small; ">
                                                <a style="font-size:x-small;  padding-top:13px; padding-bottom:13px;">
                                                    @commonService.CreationDate(comment.CreationDate)
                                                    <i class="far fa-comment-alt" style="float:right; padding-top:1px; margin-top:1px; font-size: 90%;" data-toggle="tooltip" data-placement="bottom" title="New comments"></i>
                                                    <spam style="float:right; font-size: 70%; font-weight: bold; padding-right:3px; font: bold Georgia;">@comment.ComentsCount</spam>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                            <div style="padding-top:5px">
                                                <a class="demo-2">@comment.Title</a>
                                                <a class="demo-3">@comment.TextContent</a>
                                            </div>
                                        
                                </div>
                                </div>
                        </div>
                         }
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="col-md-2">
        <div class="jumbotron " style="min-height: 1200px;  padding-top:15px; background-color:azure">
            <div style="padding-top:7px;">
                @foreach (var comment in imageService.PreviewImages(null).PreviewImages.OrderByDescending(x => x.UploadedDate).Take(40).OrderBy(x => Guid.NewGuid()).Take(5))
                {
                    <hr />
                    @if (comment.Picture != null)
                    {
                        <a asp-controller="Images" asp-action="PreviewImage" asp-route-id="@comment.Id" data-toggle="tooltip" data-placement="bottom" title="Go to the photo">
                            <img src="data:image;base64,@System.Convert.ToBase64String(comment.Picture)" style="padding-bottom:3px; padding-top:3px; max-width: 240px; width: 100%; max-height: 240px; height: 100%; " />
                        </a>
                    }
                }
            </div>
        </div>
    </div>
</div>