@model PhotographyAddicted.Services.Models.ImagesComments.UpdateImageCommentViewModel
@using PhotographyAddicted.Services.DataServices.ImageService
@using PhotographyAddicted.Services.DataServices.CommonService
@using PhotographyAddicted.Services.DataServices

@inject INewService  newService
@inject ICommonService commonService
@inject IImageService imageService

@{
    ViewData["Title"] = "UpdateImageComment";
}



<div class="row">
    <div class="col-md-5 offset-md-2">
        <div class="jumbotron " style="min-height: 930px; padding-top:15px; background-color:azure">
            <br>
            <div class="alert alert-info" role="alert">
                <br>
                <h3>Update comment</h3>
                <hr class="my-4">
                <div class="row">
                    <div class="col-md-12 ">
                        <form asp-action="UpdateImageComment">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="input-group input-group-sm  mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text  aquaLabel" style="padding-right:11.25px; padding-left:10px;  " id="basic-addon1"><i class="far fa-clipboard"></i></span>
                                </div>
                                <input asp-for="UserOpinion" type="text" class="form-control" placeholder="Comment.." aria-describedby="basic-addon1" style="border-top-right-radius: 3px; border-bottom-right-radius: 3px;" data-toggle="tooltip" data-placement="bottom" title="Update comment" />
                                <span asp-validation-for="UserOpinion" class="text-danger"></span>
                            </div>
                            <div hidden class="form-group">
                                <label asp-for="ImageId" class="control-label"></label>
                                <input asp-for="ImageId" class="form-control" />
                                <span asp-validation-for="ImageId" class="text-danger"></span>
                            </div>
                            <button class="btn btn-info btn-sm" type="submit" style="margin-right:15px;  margin-top:8px; padding: 4px 8px; " data-toggle="tooltip" data-placement="bottom" title="Update comment">Publish</button>
                            <a class="btn btn-info btn-sm" asp-controller="Images" asp-action="PreviewImage" asp-route-Id="@Model.ImageId" style=" margin-top:8px; padding:4px 9.875px;" data-toggle="tooltip" data-placement="bottom" title="Go to the image">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="jumbotron " style="min-height: 930px; padding-top:10px; background-color:azure">
            <div style="padding-top:12px">
                @foreach (var comment in newService.PreviewNews(null).PreviewNews.OrderByDescending(x => x.CreationDate).Take(30).OrderBy(x => Guid.NewGuid()).Take(5))
                {
                    <div style="font-size:x-small;  padding-top:13px; padding-bottom:13px;">
                        @commonService.CreationDate(comment.CreationDate)
                        <svg height="1" width="218">
                            <line x1="0" y1="0" x2="1000" y2="0" style="stroke:rgb(216, 216, 216);stroke-width:1" />
                        </svg>
                    </div>
                    <div class="row">
                        <a class="col-md-5" asp-controller="News" asp-action="PreviewNew" asp-route-id="@comment.Id" data-toggle="tooltip" data-placement="bottom" title="Go to the new">
                            <img src="data:image;base64,@System.Convert.ToBase64String(comment.NewImage )" style="max-height: 110px; width: auto" />
                        </a>
                        <div class="col-md-7">
                            <a class="news-style" style="word-wrap: break-word; font-size: 85%; font-weight: bold;" asp-controller="News" asp-action="PreviewNew" asp-route-id="@comment.Id" data-toggle="tooltip" data-placement="bottom" title="Go to the new"> @comment.Title</a>
                            <br />
                            <a style="font-size: 70%; font-weight: bold; font: bold Georgia;">@comment.ComentsCount</a>
                            <i class="far fa-comment-alt" style="font-size: 90%;" data-toggle="tooltip" data-placement="bottom" title="New comments"></i>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


